@import "tailwindcss";


@layer base {
  body {
    @apply bg-white ;
  }
}
@layer utilities{
  @keyframes gradient-move {
    0% { background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
  .animate-gradient-move {
    background-size: 200% 200%;
    animation: gradient-move 3s ease infinite;
  }
  @keyframes  glow{
    0% ,100%{
      opacity:0.2;
      transform: scale(0.4);
    }
    50%{
      opacity:1;
      transform: scale(0.8);
    }

  }
  .animate-glow{
    animation: glow 4s ease-in-out infinite;
  }
}

